<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Principal">
    <h3>Menu principal Odontologo</h3>
  </mat-tab>
  <mat-tab label="Agenda">
    <app-agenda></app-agenda>
  </mat-tab>
  <mat-tab label="Historial Paciente">
    <app-historial-paciente></app-historial-paciente>
  </mat-tab>
  <mat-tab label="Buscar Paciente">
    <app-buscar-paciente></app-buscar-paciente>
  </mat-tab>
  <mat-tab label="Actualizar Datos Odontologo">
    <app-actualizar-datos-odontologo></app-actualizar-datos-odontologo>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
