<div class="reg-cita">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Actualizaci&oacute;n de Datos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Identificaci&oacute;n:</mat-label>
              <input matInput formControlName="id" class="form-control" type="text"/>
            </mat-form-field>
          </div>
          <div class="col">
            <button mat-raised-button type="submit" color="primary" (click)="cargarData()">Buscar</button>
          </div>
        </div>
        <!-- DATOS DEL PACIENTE -->
        <br>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field class="especial" appearance="fill">
              <mat-label>Tipo de Identificaci&oacute;n:</mat-label>
              <mat-select formControlName="tipoidentificacion" required>
                <mat-option value="RUT">RUT</mat-option>
                <mat-option value="RUN">RUN</mat-option>
                <mat-option value="CI">CI</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('tipoidentificacion').hasError('required')">
                El Tipo de Identificaci&oacute;n es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Nombre:</mat-label>
              <input matInput type="text" formControlName="nombre" class="form-control" required/>
              <mat-error *ngIf="form.get('nombre').hasError('required')">
                El Nombre es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Apellido:</mat-label>
              <input matInput type="text" formControlName="apellido" class="form-control" required/>
              <mat-error *ngIf="form.get('apellido').hasError('required')">
                El Apellido es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field class="colemail">
              <mat-label>Email:</mat-label>
              <input matInput type="email" formControlName="email" class="form-control" required/>
              <mat-error *ngIf="form.get('email').hasError('required')">
                El Email es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Celular:</mat-label>
              <input matInput type="text" formControlName="celular" class="form-control" required/>
              <mat-error *ngIf="form.get('celular').hasError('required')">
                El celular es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field class="especial" appearance="fill">
              <mat-label>Fecha de nacimiento:</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechanacimiento" required/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="form.get('fechanacimiento').hasError('required')">
                La Fecha de nacimiento es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Direcci&oacute;n:</mat-label>
              <input matInput type="text" formControlName="direccion" class="form-control" required/>
              <mat-error *ngIf="form.get('direccion').hasError('required')">
                La direcci&oacute;n es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field class="departa" appearance="fill">
              <mat-label>Departamento:</mat-label>
              <mat-select formControlName="departamento" required>
                <mat-option value="Tarapaca">Tarapac&aacute;</mat-option>
                <mat-option value="Antofagasta">Antofagasta</mat-option>
                <mat-option value="Atacama">Atacama</mat-option>
                <mat-option value="Coquimbo">Coquimbo</mat-option>
                <mat-option value="La Aracaunia">La Aracaun&iacute;a</mat-option>
                <mat-option value="Region Metropolitana de Santiago">Regi&oacute;n Metropolitana de Santiago</mat-option>
                <mat-option value="Valparaiso">Valpara&iacute;so</mat-option>
                <mat-option value="Libertador General Bernardo O Higgins">Libertador General Bernardo O'Higgins</mat-option>
                <mat-option value="Maule">Maule</mat-option>
                <mat-option value="Bio-Bio">B&iacute;o-B&iacute;o</mat-option>
                <mat-option value="Los Lagos">Los Lagos</mat-option>
                <mat-option value="Aysen del General Carlos Ibanez del Campo">Aysen del General Carlos Ib&aacute;&ntilde;ez del Campo</mat-option>
                <mat-option value="Magallanes y de La Antartica Chilena">Magallanes y de La Ant&aacute;rtica Chilena</mat-option>
                <mat-option value="Los Rios">Los R&iacute;os</mat-option>
                <mat-option value="Arica y Parinacota">Arica y Parinacota</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('departamento').hasError('required')">
                El Departamento es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Ciudad</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Ciudad"
                     matInput
                     formControlName="ciudad"
                     [matAutocomplete]="auto"/>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="form.get('ciudad').hasError('required')">
                La ciudad es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Seudonimo:</mat-label>
              <input matInput type="text" formControlName="seudonimo" class="form-control" required/>
              <mat-error *ngIf="form.get('seudonimo').hasError('required')">
                El Seudonimo es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Clave:</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave" required/>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('clave').hasError('required')">
                La clave es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <button mat-raised-button class="boton" type="submit" color="primary" (click)="actualizarUsuario()">Actualizar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
