<div class="reg-cita">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registro de Moderador</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Identificaci&oacute;n:</mat-label>
              <input matInput formControlName="id" class="form-control" type="text" required/>
              <mat-error *ngIf="form.get('id').hasError('required')">
                La Identificaci&oacute;n es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="especial" appearance="fill">
              <mat-label>Tipo de Identificaci&oacute;n:</mat-label>
              <mat-select formControlName="tipoidentificacion" required>
                <mat-option value="RUT">RUT</mat-option>
                <mat-option value="RUN">RUN</mat-option>
                <mat-option value="CI">CI</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('tipoidentificacion').hasError('required')">
                El Tipo de Identificaci&oacute;n es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Nombre:</mat-label>
              <input matInput type="text" formControlName="nombre" class="form-control" required/>
              <mat-error *ngIf="form.get('nombre').hasError('required')">
                El Nombre es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Apellido:</mat-label>
              <input matInput type="text" formControlName="apellido" class="form-control" required/>
              <mat-error *ngIf="form.get('apellido').hasError('required')">
                El Apellido es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field class="colemail">
              <mat-label>Email:</mat-label>
              <input matInput type="email" formControlName="email" class="form-control" required/>
              <mat-error *ngIf="form.get('email').hasError('required')">
                El Email es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Seudonimo:</mat-label>
              <input matInput type="text" formControlName="seudonimo" class="form-control" required/>
              <mat-error *ngIf="form.get('seudonimo').hasError('required')">
                El Seudonimo es requerida.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Clave:</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave" required/>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('clave').hasError('required')">
                La clave es requerida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <button mat-raised-button class="boton" type="submit" color="primary" (click)="agregarModerador()">Registrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
