<div class="rg" style="width: 200px; height: 200px;">
  <ng-scrollbar>
    <div class="titulo-registro-moderador">
      <h2>Registro de Moderador</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="registrarModerador($event)" class="needs-validation" novalidate>
      <div class="registro-moderador">
        <div class="row1">
          <div class="col-sm-3">
            <label for="buscarrut" class="form-check-label">Rut:</label>
            <input id="buscarrut" formControlName="rut" type="text" class="form-control form-control-sm" />
            <ngb-alert *ngIf="form.get('rut').hasError('required') && form.get('rut').touched">
              El rut es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row2">
          <div class="col-sm-3">
            <label for="nombre" class="form-check-label">Nombres:</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control form-control-sm" required="required" />
            <ngb-alert *ngIf="form.get('nombre').hasError('required') && form.get('nombre').touched">
              El nombre es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label for="apellido" class="form-check-label">Apellidos:</label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control form-control-sm" required="required"/>
            <ngb-alert *ngIf="form.get('apellido').hasError('required') && form.get('apellido').touched">
              El apellido es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-5">
            <label for="email" class="form-check-label">Email:</label>
            <input id="email" type="email" formControlName="email" class="form-control form-control-sm" required="required"/>
            <ngb-alert *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              El email es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row3">
          <div class="col-sm-3">
            <label class="form-check-label">Usuario:</label>
            <input class="form-control" formControlName="usuario" class="form-control form-control-sm" type="text" required="required"/>
            <ngb-alert *ngIf="form.get('usuario').hasError('required') && form.get('usuario').touched">
              El nombre de usuario es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label class="form-check-label">Contrasena:</label>
            <input class="form-control" formControlName="contrasena" class="form-control form-control-sm" type="password" required="required"/>
            <ngb-alert *ngIf="form.get('contrasena').hasError('required') && form.get('contrasena').touched">
              La contrasena es requerida
            </ngb-alert>
          </div>
        </div>
        <button type="submit" class="btn btn-light">Registrar</button>
      </div>
    </form>
  </ng-scrollbar>
</div>

<router-outlet></router-outlet>
