<div class="rg" style="width: 200px; height: 200px;">
  <div class="main-div">
<mat-card>
  <mat-card-title>Bienvenido</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Usuario" formControlName="email"/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Contraseña" formControlName="password"/>
        </mat-form-field>
      </p>
      <p align="right"><a routerLink="/recuperacion-contrasena" routerLinkActive="active">¿Olvido la Contraseña?</a></p>
      <p>
        <!--
        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
        </ngx-recaptcha2>
        -->
        <!--
        <re-captcha
          (resolved)="resolved($event)"
          siteKey="6LfqeGEbAAAAAEK80_-_72UwT5c5xvd864BpfMHk"
        ></re-captcha>
        -->
      </p>
      <!--<div class="g-recaptcha" data-sitekey="6LfqeGEbAAAAAEK80_-_72UwT5c5xvd864BpfMHk" data-callback="enabledSubmit"></div>-->
      <br>
      <button class="btn" type="submit" mat-raised-button color="primary">Login</button>
      <br>
      <br>
      <hr>
      <br>
      <p>¿No tienes una cuenta? <span><a routerLink="/registro/registro-paciente-sin-registrar" routerLinkActive="active">Registrese ahora</a></span></p>
    </form>
  </mat-card-content>
</mat-card>
  </div>
</div>
<router-outlet></router-outlet>

