.rg {
  position: fixed;
  top: 65px;
  left: 0px;
  right: 0px;
  height: 10000px;
}
.btn{
  background-color: #015798;
  color: white;
  width: 100%;
}
.mat-card{
  margin:0 auto;
  display:inline-block;

}
.main-div{
  top:30%;
  width:100%;
  text-align:center;
  position:fixed;
}
.mat-form-field{
  width: 100%;
  min-width: 300px;
}
