<div class="rg" style="width: 200px; height: 200px;">
  <ng-scrollbar>
    <div class="titulo-registro">
      <h2 class="text-center">Registro</h2>
    </div>

    <div class="row1">
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets/img/reg-cita.jpg" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary" type="submit" routerLink="/registro/registro-cita" routerLinkActive="active">Registro de Citas</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary" type="submit" routerLink="/registro/registro-administrador" routerLinkActive="active">Registro de Administrador</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary" type="submit" routerLink="/registro/registro-paciente" routerLinkActive="active">Registro de Usuarios</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card" style="width: 10rem;">
          <img src="assets/img/perfil-usuario.jpg" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary" type="submit" routerLink="/registro/registro-moderador" routerLinkActive="active">Registro de Moderador</button>
          </div>
        </div>
      </div>
    </div>


    <!--<div class="registro-principal">
      <div class="row1">
        <div class="col-sm-5">
          <button class="btn btn-light" type="submit" routerLink="/registro/registro-cita" routerLinkActive="active">Registro de Citas</button>
        </div>
        <div class="col-sm-5">
          <button class="btn btn-light" type="submit" routerLink="/registro/registro-administrador" routerLinkActive="active">Registro de Administrador</button>
        </div>
      </div>
      <div class="row2">
        <div class="col-sm-5">
          <button class="btn btn-light" type="submit" routerLink="/registro/registro-paciente" routerLinkActive="active">Registro de Usuarios</button>
        </div>
        <div class="col-sm-5">
          <button class="btn btn-light" type="submit" routerLink="/registro/registro-paciente" routerLinkActive="active">Registro de Moderador</button>
        </div>
      </div>
    </div>-->
  </ng-scrollbar>
</div>

<router-outlet></router-outlet>
