<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <form class="container-fluid justify-content-start">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active m-2 p-3  blockquote" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2 p-3  blockquote" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2 p-3  blockquote" routerLink="/registro/registro-home" routerLinkActive="active">Usuario</a>
      </li>
    </ul>
    <span class="clinica blockquote">Clinica Dental Alameda</span>
  </form>
</nav>

<router-outlet></router-outlet>
