<div class="rg" style="width: 200px; height: 200px;">
  <ng-scrollbar>
    <div class="titulo-agenda">
      <h2>Agenda del Odontologo</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="comparar($event)" class="needs-validation">
      <div class="tabla">
        <div class="row1">
          <table class="table table-hover">
            <thead>
            <tr>
              <th colspan="4" class="text-center">
                {{ dateActual | date: 'fullDate' }}
              </th>
            </tr>
            <tr>
              <th scope="col">Hora</th>
              <th scope="col">Nombres del Paciente</th>
              <th scope="col">Estado de la Cita</th>
              <th scope="col">Detalles</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of dataAgenda">
              <th *ngIf="currentDate.getFullYear() == element.fecha.getFullYear() && currentDate.getMonth() == element.fecha.getMonth() && currentDate.getDate() == element.fecha.getDate()" scope="row">{{element.hora}}</th>
              <td *ngIf="currentDate.getFullYear() == element.fecha.getFullYear() && currentDate.getMonth() == element.fecha.getMonth() && currentDate.getDate() == element.fecha.getDate()">{{element.nombre}}</td>
              <td *ngIf="currentDate.getFullYear() == element.fecha.getFullYear() && currentDate.getMonth() == element.fecha.getMonth() && currentDate.getDate() == element.fecha.getDate()">{{element.estado}}</td>
              <td *ngIf="currentDate.getFullYear() == element.fecha.getFullYear() && currentDate.getMonth() == element.fecha.getMonth() && currentDate.getDate() == element.fecha.getDate()">{{element.fecha}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </ng-scrollbar>
</div>

