.reg-cita {
  top: 80px;
}

.example-card {
  max-width: 800px;
  left: 275px;
}

.row .col .mat-form-field + .mat-form-field {
  margin-left: 10px;
  align-items: center;
}

.row .col .boton {
  width: 200px;
  align-items: center;
  left: 250px;
}

table thead {
  font-weight: bold;
}
