<div class="reg-cita">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Historial Paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Odontologo</mat-label>
              <mat-select formControlName="odontologo" (selectionChange)="cargarPacientes()">
                <mat-option value="{{concepto}}" *ngFor="let concepto of listaOdontologo;">{{concepto}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Paciente</mat-label>
              <mat-select formControlName="paciente">
                <mat-option value="{{concepto}}" *ngFor="let concepto of listaUsuariosPorOdontologo;">{{concepto}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-raised-button appDebounceClick class="boton" type="button" color="primary" (click)="cargarTabla()" (debounceClick)="log()" [debounceTime]="500">Buscar</button>
          </div>
        </div>
        <!-- DATOS DEL PACIENTE -->
        <br>
        <br>
        <table class="table table-hover">
          <thead class="text-center">
          <tr>
            <th scope="col">Fecha y Hora</th>
            <th colspan="2">Evoluci&oacute;n</th>
            <th scope="col">Paciente</th>
            <th scope="col">Odontologo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let element of res;">
            <td>{{ element[0].date }}</td>
            <td colspan="2" align="justify">{{ element[0].describe }}</td>
            <td>{{ element[0].name }}</td>
            <td>{{ element[0].parent }}</td>
          </tr>
          </tbody>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<!--

-->
