<div class="rg" style="width: 200px; height: 200px;">
  <ng-scrollbar>
    <div class="titulo-registro-paciente">
      <h2>Registro de Usuarios</h2>
    </div>
    <form [formGroup]="form" class="needs-validation" novalidate>
      <div class="registro-paciente">
        <div class="row1">
          <div class="col-sm-3">
            <label for="buscarrut" class="form-check-label">Rut:</label>
            <input id="buscarrut" formControlName="id" type="text" class="form-control form-control-sm" />
            <ngb-alert *ngIf="form.get('id').hasError('required') && form.get('id').touched">
              El rut es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row2">
          <div class="col-sm-3">
            <label for="nombre" class="form-check-label">Nombres:</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control form-control-sm" required="required" />
            <ngb-alert *ngIf="form.get('nombre').hasError('required') && form.get('nombre').touched">
              El nombre es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label for="apellido" class="form-check-label">Apellidos:</label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control form-control-sm" required="required"/>
            <ngb-alert *ngIf="form.get('apellido').hasError('required') && form.get('apellido').touched">
              El apellido es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-5">
            <label for="email" class="form-check-label">Email:</label>
            <input id="email" type="email" formControlName="email" class="form-control form-control-sm" required="required"/>
            <ngb-alert *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              El email es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row3">
          <div class="col-sm-3">
            <label class="form-check-label">Telefono:</label>
            <input class="form-control" formControlName="telefono" class="form-control form-control-sm" type="text" required="required"/>
            <ngb-alert *ngIf="form.get('telefono').hasError('required') && form.get('telefono').touched">
              El telefono es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label class="form-check-label">Celular:</label>
            <input class="form-control" formControlName="celular" class="form-control form-control-sm" type="text"/>
          </div>
        </div>
        <div class="row4">
          <div class="col-sm-3">
            <label class="form-check-label">Fecha de nacimiento:</label>
            <input class="form-control" formControlName="fecha_nacimiento" placeholder="yyyy-mm-dd" type="date" required="required"/>
            <ngb-alert *ngIf="form.get('fecha_nacimiento').hasError('required') && form.get('fecha_nacimiento').touched">
              La fecha de nacimiento es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label class="form-check-label">Direccion:</label>
            <input class="form-control" formControlName="direccion" class="form-control form-control-sm" type="text" required="required"/>
            <ngb-alert *ngIf="form.get('direccion').hasError('required') && form.get('direccion').touched">
              La direccion es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row5">
          <button type="submit" (click)="agregarUsuario()" class="btn btn-light">Registrar</button>
        </div>
        <div class="row6">
          <ng-container class="text-success" *ngIf="mostrar">
            Su regitro ha sido exitoso.
          </ng-container>
        </div>
      </div>
    </form>
  </ng-scrollbar>
</div>


<router-outlet></router-outlet>
