<div class="reg-cita">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Borrar Paciente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Identificaci&oacute;n:</mat-label>
              <input matInput formControlName="id" class="form-control" type="text" required/>
            </mat-form-field>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <button mat-raised-button type="submit" color="primary" (click)="borrarUsuario()">Borrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
