<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Principal">
    <h3>Menu principal Administrador</h3>
  </mat-tab>
  <mat-tab label="Registro Odontologo">
    <app-registro-odontologo></app-registro-odontologo>
  </mat-tab>
  <mat-tab label="Registro Secretaria">
    <app-registro-secretaria></app-registro-secretaria>
  </mat-tab>
  <mat-tab label="Registro Moderador">
    <app-registro-moderador></app-registro-moderador>
  </mat-tab>
  <mat-tab label="Cambiar Banner">
    <app-banner-personal></app-banner-personal>
  </mat-tab>
  <mat-tab label="P.Q.R.S">
    <app-pqrs></app-pqrs>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
