@import "~perfect-scrollbar/css/perfect-scrollbar.css";

.rg {
  position: fixed;
  top: 65px;
  left: 0px;
  right: 0px;
  height: 1000px;
}

.rg ng-scrollbar {
  position: fixed;
  top: 65px;
  left: 0px;
  right: 0px;
  height: 1000px;
}

.rg ng-scrollbar .titulo-registro-citas {
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 80px;
  left: 0px;
  right: 0px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  color: black;
}

.rg ng-scrollbar .titulo-registro-citas h2 {
  float: right;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rg ng-scrollbar form {
  position: fixed;
  top: 180px;
  left: 200px;
  right: 200px;
  height: 900px;
  display: flex;
  align-items: center;
  background-color: #77a3d6;
  color: black;
  font-weight: 600;
}

.rg ng-scrollbar .registro-citas {
  position: fixed;
  top: 180px;
  left: 200px;
  right: 200px;
  height: 900px;
  display: flex;
  align-items: center;
  background-color: #77a3d6;
  color: black;
  font-weight: 600;
}

.rg ng-scrollbar .registro-citas .row1 {
  position: fixed;
  top: 270px;
  left: 200px;
  right: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0 8px;
  padding: 1px;
}

.rg ng-scrollbar .registro-citas .row2 {
  position: fixed;
  top: 390px;
  left: 200px;
  right: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0 8px;
  padding: 1px;
}

.rg ng-scrollbar .registro-citas .row3 {
  position: fixed;
  top: 510px;
  left: 200px;
  right: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0 8px;
  padding: 1px;
}

.rg ng-scrollbar .registro-citas .row4 {
  position: fixed;
  top: 660px;
  left: 200px;
  right: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0 8px;
  padding: 1px;
}

.rg ng-scrollbar .registro-citas button {
  position: fixed;
  top: 780px;
  left: 600px;
  right: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 8px;
  padding: 1em 2em;
}

.rg ng-scrollbar .registro-citas p {
  top: 200px;
  left: 200px;
  right: 200px;
  height: 900px;
  float: right;
  text-align: left;
  width: 100%;
  margin: 0px 25px -30px;
  padding: 1px;
}

