<div class="rg" style="width: 200px; height: 200px;">
  <ng-scrollbar>
    <div class="titulo-registro-citas">
      <h2>Registro de Citas</h2>
    </div>
    <form [formGroup]="form" class="needs-validation" novalidate>
      <div class="registro-citas">
        <p>Porfavor completar todos los campos para registrar la cita.</p>
        <div class="row1">
          <div class="col-sm-3">
            <label for="buscarrut" class="form-check-label">Rut:</label>
            <input id="buscarrut" type="text" formControlName="rut" class="form-control form-control-sm"/>
            <ngb-alert *ngIf="form.get('rut').hasError('required') && form.get('rut').touched">
              El rut es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-5">
            <button type="submit" (click)="cargarData(form.get('rut'))" class="btn btn-light form-control-sm-3">Buscar</button>
          </div>
        </div>
        <div class="row2">
          <div class="col-sm-3">
            <label for="nombre" class="form-check-label">Nombres:</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control form-control-sm" required="required" />
            {{ data.nombre }}
            <ngb-alert *ngIf="form.get('nombre').hasError('required') && form.get('nombre').touched">
              El nombre es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label for="apellido" class="form-check-label">Apellidos:</label>
            <input id="apellido" type="text" formControlName="apellido" class="form-control form-control-sm" required="required"/>
            {{ data.apellido }}
            <ngb-alert *ngIf="form.get('apellido').hasError('required') && form.get('apellido').touched">
              El apellido es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-5">
            <label for="email" class="form-check-label">Email:</label>
            <input id="email" type="email" formControlName="email" class="form-control form-control-sm" required="required"/>
            {{ data.email }}
            <ngb-alert *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              El email es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row3">
          <div class="col-sm-3">
            <label class="form-check-label">Tipo consulta:</label>
            <select class="form-select" formControlName="tipo_consulta" aria-label="Default select example" required="required">
              <option selected>Consulta</option>
              <option value="1">Higiene Oral</option>
              <option value="2">Consulta</option>
            </select>
            <ngb-alert *ngIf="form.get('tipo_consulta').hasError('required') && form.get('tipo_consulta').touched">
              El Tipo Consulta es requerido
            </ngb-alert>
          </div>
          <div class="col-sm-3">
            <label class="form-check-label">Odontologo:</label>
            <select class="form-select" formControlName="odontologo" aria-label="Default select example" required="required">
              <option selected>Odontologo</option>
              <option value="1">Juan Carlos Acosta</option>
              <option value="2">Tatiana Acosta</option>
            </select>
            <ngb-alert *ngIf="form.get('odontologo').hasError('required') && form.get('odontologo').touched">
              El Odontologo es requerido
            </ngb-alert>
          </div>
        </div>
        <div class="row4">
          <div class="col-sm-5">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Fecha de la cita:</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="fecha_cita" required="required">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="form-text text-danger">Seleccionar la fecha solo de Lunes a Viernes</div>
          </div>
          <div class="col-sm-5">
            <mat-label>Hora de la cita:</mat-label>
            <ngb-timepicker [formControl]="ctrl" formControlName="hora" required></ngb-timepicker>
            <div *ngIf="ctrl.valid" class="form-text text-success">Hora Correcta</div>
            <div *ngIf="ctrl.errors" class="form-text text-danger">
              <div *ngIf="ctrl.errors['required']">Seleccionar solo de 7:00 a.m. - 18:40 p.m.</div>
              <div *ngIf="ctrl.errors['tooLate']">Solo se puede menos o igual de 18:40 p.m.</div>
              <div *ngIf="ctrl.errors['tooEarly']">Solo se puede mayor o igual de 7:00 a.m.</div>
            </div>
          </div>
        </div>
        <!--<button type="submit"><a routerLink="/home" routerLinkActive="active">Registrar</a></button>-->
        <!--<button type="submit" [disabled]="form.invalid">Registrar</button>-->
        <div class="row5">
          <button type="submit" (click)="crearData()" class="btn btn-light">Registrar</button>
        </div>
      </div>

    </form>
  </ng-scrollbar>
</div>

<!--<div class="invalid-feedback" *ngIf="form.get('search').errors && form.get('search').touched">
  <p *ngIf="form.get('search').hasErrors('required')">
    Es un campo requerido
  </p>
</div>

<div class="invalid-feedback" *ngIf="form.get('time').errors && form.get('time').touched">
          Es un campo requerido
        </div>



     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                          <mat-label>Nombre</mat-label>
                                          <input matInput formControlName="nombre" required>
                                          <mat-icon matSuffix>face</mat-icon>
                                          <mat-error *ngIf="register.get('nombre').hasError('required')">
                                            Nombre es requireda!!!
                                          </mat-error>
                                        </mat-form-field>
                                      </div>


                                       // Form 3
  thirdForm: FormGroup;
  hide3 = true;
  constructor(
    private fb: FormBuilder,
    private _snackBar: MatSnackBar,
    private modalService: NgbModal,
    private clienteService: ClienteService
    ) {


    //this.initThirdForm();
    this.initEditForm();
   }

  ngOnInit(){
    this.fetch((data) => {
      this.data = data;
      this.filteredData = data;
    });

    this.register = this.fb.group({
      cedula: ["", [Validators.required, Validators.pattern("[0-9]+")]],
      nombre: ["", [Validators.required, Validators.pattern("[a-zA-Z]+")]],
      email: [
        "",
        [Validators.required, Validators.email, Validators.minLength(5)],
      ],
    });



<ngb-alert *ngIf="compararTiempo({hora : form.get('hora')}) == true && form.get('hora').touched" >
              Por favor escoger una hra valida entre las 7:00 a.m. y las 19:00 p.m.
            </ngb-alert>
  }
        -->


<router-outlet></router-outlet>
